@use 'custom';
@use 'components/buttons';
@use 'components/typography';
@use 'sections/faq';
@use 'sections/hero';
@use 'sections/info';
@use 'sections/learn';
@use 'sections/pricing';
@use 'sections/testimoniale';
@use 'sections/why';