@use 'custom';
@use 'components/buttons';
@use 'components/typography';
@use 'sections/faq';
@use 'sections/hero';
@use 'sections/info';
@use 'sections/learn';
@use 'sections/pricing';
@use 'sections/testimoniale';
@use 'sections/why';



.HeaderBox {
    background-color: #6DC1FF;
    margin: 0 1rem 0 1rem ;
    border-radius: 1rem;
}

.TextBox {
    padding: 1rem;
}

.student {
    border-radius: 50%;
    border: 0.25rem solid white;
}

.testimonial1{
    background-color: greenyellow;
}
.testimonial2{
    background-color: rgb(47, 144, 255);
}
.testimonial3{
    background-color: rgb(255, 47, 161);
}

.PriceInfo {
    background-color: #FF527C;
}

.PriceBox {
    padding:1rem 0 0 0;
}

.ButtonLink {
    display: block;
    background-color: #FF527C;
    border-radius: 0.425rem;
    text-decoration: none;
    color: white;
    margin: auto;
    text-align: center;
    width: 45%;
    padding: 1rem;
}

